.idea
*.iml
*/target
log
*.log
/log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/ocs-web/target
/ocs-auth/target
/ocs-common/target
/ocs-system/target
/ocs-job/target
/ocs-webportal/target

/logs
logs

/.svn
.svn

*.xlsl
*.xls
/excel
excel